:root {
	--grey-100: #f0f0f0;
	--grey-200: #dbdbdb;
	--grey-300: #bdbdbd;
	--grey-400: #999999;
	--grey-500: #7d7d7d;
	--grey-600: #666666;
	--grey-700: #525252;
	--grey-800: #454545;

	--negative: #f10a0a;

	--primary-text: var(--grey-800);
	--component-background: linear-gradient(
		180deg,
		var(--grey-200) 0%,
		var(--grey-400) 100%
	);
}

html,
body {
	height: 100%;
	overflow: auto;
}

#root {
	height: 100%;
	width: 100%;
	padding: 1rem;
	text-align: center;
}

.eateryForm {
	display: flex;
	flex-direction: column;
}
