@import 'App.css';

.list {
	margin: 1rem;
	padding: 0.5rem;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
	border-radius: 5px;
	background: white;
	transition: all 0.1s linear;
	display: flex;
}

.list:hover {
	background: var(--grey-100);
}

.list > * {
	margin: 0.25rem;
	align-self: baseline;
}

.box-data {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-grow: 4;
}

.box-data > * {
	margin: 0.25rem;
}

.fa-icons {
	height: 1.5rem;
	padding: 0 0.5rem;
	cursor: pointer;
	transition: all 0.1s linear;
}

.fa-delete:hover {
	color: var(--negative);
}
